.pricing-card-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 6px;
	padding: 20px;
	background: #5b2be0;
	color: white;

	&:hover{
		transform: scale(1.2);
		transition: all 0.3s ease;
		cursor: pointer;
	}

	@media screen and (min-width:1200px){
		margin: 40px;
		transform: scale(1.3);
		&:hover{
			transform: scale(1.5);
			transition: all 0.3s ease;
		}
	}
	
	@media screen and (max-width:800px){
		margin: 40px;
		transform: scale(1.2);

		&:hover{
			transform: scale(1.3);
			transition: all 0.3s ease;
		}
	}
}

.pricing-card-tier{
	padding-top: 10px;
	font-style: "Kaisei HarunoUmi, serif";
	font-size: 2.5rem;
	font-weight: 400;
}

.pricing-card-price{
	font-size: 3rem;
	color: #fbff00;
	font-weight: 700;
}

.pricing-card-features{
	padding-top: 30px;
	padding-bottom: 40px;

	font-size: 1.2rem;
	li{
		font-weight: 200;
	}
}

