@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;400;700&family=Kaisei+HarunoUmi:wght@400;500;700&display=swap");
*,
*::before,
*::after{
	box-sizing: border-box;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-weight: 400;
}
body{
	background: blueviolet;
}
