@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;400;700&family=DM+Serif+Display&display=swap");

*,
*::before,
*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-weight: 700;
}

a{
	text-decoration: none;
	color: black;
}

body{
	background-color: rgb(252, 252, 252);
}

.App{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.pricing{
	display: flex;
	justify-content: center;
	gap: 40px;
	padding-top: 120px;
	padding-bottom: 40px;

	background-color: rgb(252, 252, 252);

	@media screen and(max-width:800px){
		flex-direction: column;
		align-items: center;
		padding-top: 80px;
	}
}

.features{
	display: flex;
	gap: 5vw;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 40px;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;

	@media screen and(min-width:1200px){
	 gap: 100px;
	}
}
.footer-filler{
	flex: 1;
}

footer{
	display: flex;
	justify-content:space-around;
	padding: 16px;

	background-color: rgb(240, 240, 240);

	p{
		font-weight: 400;
	}

	@media screen and(max-width:600px) {
		flex-direction: column;
		align-items:center;
	}
}

.me{
	align-self: center;
	font-size: 1.1rem;
}

